		#jukebox {
			/..background-color:#999999; ../
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			color:#999999;
			padding:10px;
			text-align: center;
			font-family:helvetica, arial, verdana;
			font-weight:normal;
			font-size: 10px;
			width:300px;
			margin: auto;
		}
		#jukebox .loader {
			border:1px solid #999999;
			height:3px;
			margin:10px 0px
		}
		#jukebox .load-progress {
			width:0px;
			background-color:#fff;
			height:3px;
		}
		#jukebox .play-progress {
			width:0px;
			background-color:#999999;
			height:3px;
		}
		
		#jukebox .controls {
			text-align:center;
		}
		
		#jukebox .controls a {
			display:inline-block;
			width:33px;
			height:33px;
			margin:0px 14px;
			overflow:hidden;
			background-color: #fff;
			background-image:url('../images/audio-controls-999.png');
			background-repeat:no-repeat;
		}
		
		#jukebox .controls a:hover {
			background-image:url('../images/audio-controls-121212.png');
		}
		
		#jukebox .controls a span {
			display:none;
		}
		
		#jukebox .controls a.prev {
			background-position: -60px 0px;
		}
		#jukebox .controls a.next {
			background-position: -90px 0px;
		}
		#jukebox .controls a.play {
			background-position: 0px 0px;
		}
		#jukebox .controls a.pause {
			background-position: -30px 0px;
		}