		h1 {
			color: #999999;
			font-size: 55px;
			font-weight: bold;
			font-family: arial;
			letter-spacing: -1px;
			margin-bottom: -15px;
			}

		h2 {
			color: #999999;
			font-size: 20px;
			font-weight: normal;
			font-family: arial;
			}

		p {
			color: #999999;
			font-size: 11px;
			font-family: arial;
			}

		ul { 	padding-left: 0;
			}

		li  { 	 
			list-style: none;
			margin-right: 20px;
			display: inline;
			color: #999999;
			}

		a {
			color: #999999;
			font-family: arial;
			text-decoration: none;
			}

		a:hover {
			color: #121212;
			}

		.wrap { 
			width: 900px;	
			margin: auto;
			}

		#release_title {
			text-align: center;
			}

		#navigation {
			margin-top: 30px;
			}

		#social {
			margin: auto;
			}

		#social ul li a {
			display: block;
			width:29px;
			height: 29px;
			text-indent: -99999px;
			float: left;
			margin-right: 20px;
	
			}

		#fb {
			background: url('../images/FB-f-Logo__white_29-rollover.png') top;
			}

		#fb:hover {
			background-position: bottom;
			}

		#ig {
			background: url('../images/glyph-logo_May2016-rollover.png') top;
			}

		#ig:hover {
			background-position: bottom;
			}

		#line {
			background: url('../images/LINE_Icon-rollover.png') top;
			}

		#line:hover {
			background-position: bottom;
			}



		table {
			border-collapse: collapse;
			width: 600px;
			}

		tr {

			}
		
		td {
			height: 250px;
			vertical-align: bottom;
			border: 0px;
			padding-bottom: 20px;
			}

		.right {
			width: 330px;
			}
